<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kakao login & join</title>

    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        const code = new URLSearchParams(window.location.search).get("code");

        if (!code) {
            alert("인가 코드가 없습니다.");
        }

        // code를 백엔드로 전달
        fetch("http://localhost:11001/api/v1/none/kakao-join", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                code : code,
                name : '잔잔제롱',
                nickname : '잔잔바리',
                phone :'01011234564',
                gender: "M",
                birth : "1995-07-10"
            }),
        })
            .then(async (res) => {
                if (res.status === 400) {
                    alert('카카오 계정에 연락처가 등록되어있지 않습니다.');
                    return;
                }
                const data = await res.json();
                console.log("data : ", data)
            })


    </script>

</head>
<body>


</body>
</html>